#header,#content,#footnotes,#footer{max-width:54em;}
h1,h2,h3,h4,h5,h6 {color: rgba(0,0,0,.92) !important; }
h1,h2 {color:#0000dc !important;}
h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6{margin-top:1.65em;margin-bottom:.6em;}
h1{font-size:2.05em}
h2{font-size:1.7em}
h3,#toctitle,.sidebarblock>.content>.title{font-size:1.3em}
h4,h5{font-size:1.1em}
@media only screen and (min-width:768px){
	h1{font-size:2.7em}
	h2{font-size:1.5em; font-weight: 400}
	h3,#toctitle,.sidebarblock>.content>.title{font-size:1.35em; font-weight: 400}
	h4{font-size:1.2em; font-weight:500;}
}

#content a {
  color: rgb(200, 40, 40);
  text-decoration: none
}

#toctitle {
  color: rgba(0,0,20,0.85) !important;
}

#toc a {
  color: rgba(0,0,20,0.85);
  font-weight: 400;
  text-decoration: none
}

#toc ul.sectlevel1 > li > a {
  color: rgb(0, 0, 220);
  font-weight: 600;
}

#toc ul.sectlevel1 > li > :last-child {
  margin-bottom: 12px;
}

#toc ul.sectlevel2 > li > a {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#toc ul.sectlevel3 {
  font-size: 0.9em;
}

@media only screen and (min-width:1280px){
	body.toc2{padding-left:28em}
	#toc.toc2{width:25em}
}

h3 {
  margin-top: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

h4 {
  font-weight: 600;
  font-size: 1.15em;
  margin-top: 38px;
  margin-bottom: 8px;
}

#content .sect1 {
  border: none;
}

p code, td code {
  //background-color: rgba(250, 220, 220, 0.4) !important;
  border-radius: 5px !important;
  padding: 2px 5px !important;
}